* {
	font-family: 'Lucida Console', 'Courier New', monospace;
}

@page {
	size: A4;
}

@media print, screen and (min-width: 210mm) {
	html, body {
		background-color: rgb(204, 204, 204);
		width: 210mm;
		height: 297mm;
		margin: auto;
	}

}

main {
	background-color: white;
	width: 210mm;
	height: 297mm;
	padding: 1rem 2rem 0 2rem;
}

h1, h2 {
	text-align: center;
}